@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

:root {
  --pry-font-family: 'Poppins', sans-serif;
  --pry-font-style: normal;
  --pry-color: #6070ff;
  --sec-color: #172b4d;
  --tertiary-color: #344563;
  --other-color: #505f79;
  --pry-bgcolor: #e5e5e5;
  --sec-bgcolor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--pry-bgcolor);
}

.headers {
  background-color: var(--sec-bgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.625rem 1.8rem 0.875rem 1.5rem;
}

.mylogo {
  font-family: var(--pry-font-family);
  font-style: var(--pry-font-style);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.mylogo,
.nav-menu .fas {
  color: var(--pry-color);
  text-align: center;
}

.nav-menu .fas {
  align-self: center;
}

nav ul {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: var(--sec-bgcolor);
  border-bottom-left-radius: 70px;
  height: 98.1vh;
}

.img-container {
  background-image: url('/Images/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.45rem;
  height: 93vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  height: 98.1vh;
}

.name {
  margin: 12px 0;
}

.name h1 {
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.name .abt-me {
  color: var(--tertiary-color);
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.letsconnect {
  margin: 0;
  width: 130px;
  height: 24px;
}

.name .lets-connect {
  font-family: var(--pry-font-family);
  font-style: var(--pry-font-style);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--pry-color);
  text-decoration: none;
}

.social-media-icons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 170.17px;
  height: 20px;
}

.fa-twitter {
  width: 19.99px;
  height: 19.96px;
  color: var(--other-color);
}

.fa-linkedin-in {
  width: 20px;
  height: 20px;
  color: var(--other-color);
}

.fa-medium {
  width: 20px;
  height: 16px;
  color: var(--other-color);
}

.fa-github {
  width: 17.99px;
  height: 20px;
  color: var(--other-color);
}

.fa-angellist {
  width: 14.17px;
  height: 20px;
}

.work-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 88px;
  padding: 7.125rem 1.5rem;
}

.work-section .works {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  background-color: var(--sec-bgcolor);
  border-radius: 1rem;
  padding: 1rem;
}

.work1,
.work3 {
  height: 34.5rem;
}

.work2,
.work4 {
  height: 37.25rem;
}

.image {
  height: 27.9vh;
}

.project-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-details {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.project-title {
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: var(--sec-color);
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  width: 14.75rem;
  height: 32px;
}

.items {
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  align-self: center;
}

.item1 {
  color: #344563;
}

.item2,
.item3 {
  color: #7a869a;
}

.counter {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
}

.primary-text {
  height: 76px;
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: var(--tertiary-color);
}

.tags {
  display: flex;
  justify-content: space-between;
  width: 12.6875rem;
  height: 1.5rem;
  margin: 12px 0;
}

.tags li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}

.tag-1 {
  width: 3.3125rem;
  border-radius: 8px;
  background-color: #ebebff;
}

.tag-2 {
  width: 2.8125rem;
  border-radius: 8px;
  background-color: #ebebff;
}

.tag-3 {
  width: 5.5625rem;
  border-radius: 8px;
  background-color: #ebebff;
}

.tag-link {
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--pry-color);
}

.project-btn {
  border: 1px solid #6070ff;
  width: 7.75rem;
  height: 3rem;
  color: var(--pry-color);
  background-color: var(--sec-bgcolor);
  border-radius: 8px;
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  margin: 12px 0 0 0;
}

.project-btn:hover {
  background-color: var(--pry-color);
  color: #fff;
}

.project-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.about-page {
  border-top-right-radius: 70px;
  padding: 7.125rem 1.5rem;
  background-color: var(--sec-bgcolor);
}

.abt {
  height: 6.3125rem;
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: var(--sec-color);
  margin: 12px 0;
}

.abt-me-page {
  height: 9rem;
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--tertiary-color);
}

.lc-abt {
  margin: 12px 0;
}

.resume-btn {
  width: 10.125rem;
}

.skills {
  height: 29.009375rem;
  margin: 24px 0;
}

.skill {
  border-bottom: 1px solid #dfe1e6;
  height: 4.5rem;
  padding: 1.5rem 0.75rem;
}

.lang {
  border-bottom: hidden;
}

.skill-1,
.skill-2,
.skill-3 {
  width: 14.8125rem;
  display: inline-block;
  color: #000;
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.arrow {
  margin-left: 1.625rem;
  color: #acb7c3;
  width: 12px;
  height: 6px;
}

.lang-lists {
  padding: 0.75rem;
}

.lang-list {
  display: flex;
  align-items: center;
  width: 18.9375rem;
  height: 4.17rem;
  background-color: #f7f7f9;
  padding: 0.5625rem 0 0.6075rem 0.75rem;
}

.lang-list-2 {
  margin: 12px 0;
}

.lang-list-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.lang-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lang-list-name {
  font-family: var(--pry-font-family);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

footer {
  background-color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48.7rem;
  background-color: var(--pry-color);
  border-top-left-radius: 70px;
  padding: 0 1.5rem;
}

.footer-bg-img {
  height: 47.1rem;
  background-image: url('/Images/contact-form-bgimg.png');
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  left: 9.5625rem;
  right: 0;
}

.contact-details {
  text-align: center;
  margin-top: 6.4375rem;
}

.contact-me {
  color: var(--sec-bgcolor);
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 0.75rem;
}

.info {
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ebebff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 2.8125rem 1.5rem;
}

.contact-form input {
  width: 20.4375rem;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  padding: 0.9375rem 2.375rem 0.9375rem 1rem;
  margin-bottom: 1.25rem;
}

input[type=text],
input[type=email] {
  font-family: var(--pry-font-family);
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: var(--sec-color);
}

textarea {
  border: 1px solid #cfd8dc;
  background-color: var(--sec-bgcolor);
  height: 10.625rem;
  border-radius: 8px;
  margin-bottom: 1.375rem;
  padding: 0.9375rem 2.375rem 0.9375rem 1rem;
}

textarea[name=userMessage] {
  font-family: var(--pry-font-family);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #b3bac5;
}

#form-button {
  width: 8.75rem;
  height: 3rem;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--sec-bgcolor);
  font-family: var(--pry-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  color: var(--pry-color);
}

#form-button:hover {
  background-color: var(--pry-color);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: var(--sec-bgcolor);
}

#form-button:focus {
  background-color: #2230d2;
  color: var(--sec-bgcolor);
}

/* Desktop Version */
@media only screen and (min-width: 768px) {
  .headers {
    margin-top: 0.0625rem;
    padding-top: 0.9375rem;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 16.1875rem;
  }

  nav ul li a {
    font-family: var(--pry-font-family);
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #344563;
  }

  nav .fas {
    display: none;
  }

  .about-me {
    padding-right: 0.5rem;
    padding-left: 2.1625rem;
    height: 916px;
  }
}

@media only screen and (min-width: 1440px) {
  .img-container {
    background-image: url('/Images/desktop-bgimg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 2.1625rem;
    right: 0.5rem;
    margin-top: 2.8125rem;
    height: 721.46px;
  }

  .about-container {
    height: 721.46px;
    margin: 2.8125rem 15.75rem 0 14.0875rem;
    padding: 0;
  }

  .about-container h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }
  .about-container p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .work-section {
    padding: 8.875rem;
    gap: 8.875rem;
  }

  .work-section .works {
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e6;
    background-color: var(--sec-bgcolor);
    border-radius: 1rem;
    padding: 1.5rem;
    height: 31rem;
  }
  
  .image {
    height: 28rem;
    margin-right: 1.375rem;
  }

  .work-details {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .work2 .image,
  .work4 .image {
    order: 2;
    margin-right: 0;
    margin-left: 1.375rem;
  }

  .about-page {
    border: 2px solid red;
    display: flex;
    border-top-right-radius: 70px;
    padding: 8.875rem;
    background-color: var(--sec-bgcolor);
  }

  .abt-box {
    border: 2px solid green;
    width: 27.9375rem;
    margin-right: 1.5625rem;
  }
  
  .abt {
    height: 6.3125rem;
    font-family: var(--pry-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: var(--sec-color);
    margin: 12px 0;
  }
  
  .abt-me-page {
    height: 9rem;
    font-family: var(--pry-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tertiary-color);
  }
  
  .lc-abt {
    margin: 12px 0;
  }
  
  .resume-btn {
    width: 10.125rem;
  }
}
